<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.develop.sharebook">

    <application
        tools:replace="android:icon, android:theme"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FindPWD">
            <intent-filter>
                <action android:name="android.intent.action.FINDPWD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.HOMEPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonUpdate">
            <intent-filter>
                <action android:name="android.intent.action.PERSONUPDATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonPWD">
            <intent-filter>
                <action android:name="android.intent.action.PERSONPWD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.develop.zxing.CaptureActivity">
            <intent-filter>
                <action android:name="android.intent.action.CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BookInfoView">
            <intent-filter>
                <action android:name="android.intent.action.BOOKINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LiabaryShow">
            <intent-filter>
                <action android:name="android.intent.action.LIABARYSHOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DynamicInfo">
            <intent-filter>
                <action android:name="android.intent.action.DYNAMICINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MessageInfo">
            <intent-filter>
                <action android:name="android.intent.action.MESSAGEINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StateInfo">
            <intent-filter>
                <action android:name="android.intent.action.STATEINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StateAll">
            <intent-filter>
                <action android:name="android.intent.action.STATEALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LiararyFind">
            <intent-filter>
                <action android:name="android.intent.action.LIARARYFIND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <!--监听网络变化的广播-->
        <receiver android:name="com.develop.util.NetWorkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <!--首页设置广播-->
        <receiver android:name=".PersonInfo$MyBroadcast">
            <intent-filter>
                <action android:name="com.develop.sharebook.MYBROADCAST"/>

            </intent-filter>
        </receiver>

        <receiver android:name=".Message$MyBroadcast">
            <intent-filter>
                <action android:name="com.develop.sharebook.MYBROADCAST2"/>

            </intent-filter>
        </receiver>

    </application>

    <!--权限配置-->
    <!--设置可以访问网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 指定添加权限   获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取存储权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    !--发送系统广播-->
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD"/>

    <!--扫描识别所需的权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>